<div class="container-fluid">
    <div>
      <table class="table table-hover my-5 mx-5">
        <thead>
          <tr>
            <th scope="col">Service No</th>
            <th scope="col">Room No</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Service Date</th>
            <th scope="col">Actions
              <a [routerLink]="['add']" class="btn btn-sm btn-outline-primary ml-2">
                Add <fa-icon [icon]="faPlus"></fa-icon>
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let service of services">
            <th scope="row">{{service.id}}</th>
            <td>{{service.roomNo}}</td>
            <td>{{service.sDesc}}</td>
            <td>$ {{service.amount}}</td>
            <td>{{service.serviceDate}}</td>
            
            <td>
  
              <a [routerLink]="['update']" class="btn btn-sm btn-outline-success">
                Update <fa-icon [icon]="faEdit"></fa-icon>
              </a>
              <a [routerLink]="['delete']" class="btn btn-sm btn-outline-danger ml-2">
                Delete <fa-icon [icon]="faTrashAlt"></fa-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>